* {
  margin: 0;
  padding: 0;
}

.page_body {
  background-color: #f5f5f5;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #3498db;
  padding: 39px;
  padding-left: 60px;

}

.container {
  display: flex;
  justify-content: space-between;

}

.listdo {
  font-size: 24px;
  color: #333333;
  text-decoration: none;
}

.wrapper-info {
  display: flex;
  gap: 50px;
  font-size: 24px;
  color: #333333;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {

  flex: 0 0 auto;
}

.TEXTBOARD {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.createboard {
  padding: 10px;
  margin: auto;
  min-width: 400px;
  min-height: 400px;
  border-width: 1.5px;

}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.25);

}

.btnFcreate {
  cursor: pointer;
  width: 200px;
  margin-top: 25px;

}

#btncreate {
  cursor: pointer;
}

#CloseModal {
  cursor: pointer;
}

#h2createdo {
  text-align: center;
  padding-bottom: 25px;
}

.massError {
  color: red;
}

.btnchangeToDo {
  cursor: pointer;
  background: url(img/353430-checkbox-edit-pen-pencil_107516.png) no-repeat center center;
  min-width: 30px;
  min-height: 30px;
  border: none;
}

#showPopup {
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 16px;
  min-width: 330px;
  min-height: 60px;
  background-color: #2eec71;
  border-radius: 2px;
  border-color: olivedrab;
  color: #333333;
}

.btnDeleteToDo {
  cursor: pointer;
  background: url(img/seo-social-web-network-internet_262_icon-icons.com_61518.png) no-repeat center center;
  min-width: 30px;
  min-height: 30px;
  border: none;
}

#forToDo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  text-align: center;
}

#changeTodo {
  padding: 10px;
  margin: auto;
  min-width: 400px;
  min-height: 400px;
  border-width: 1.5px;
}

#h2Changedo {
  text-align: center;
  padding-bottom: 25px;
}

#FormOfChange {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.todo-item {
  border: groove;
}

.ContainBTNCreate {
  display: flex;
  justify-content: center;
  padding-top: 26px;
}

#DialogOFcreateTag {
  padding: 10px;
  margin: auto;
  min-width: auto;
  min-height: auto;
  border-width: 1.5px;
}

.h2CreateTag {
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-content li {
  padding: 12px 16px;
  cursor: pointer;
}

.dropdown-content li:hover {
  background-color: #f1f1f1;
}
.popup {
  position: fixed;
  top: 19%;
  left: 242px;
  z-index: 1000;
  transform: translateY(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 200px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.popup.hidden {
  opacity: 0;
  visibility: hidden;
}
.tag.hidden{
  opacity: 0;
  visibility: hidden;
}
.tag{
  position: fixed;
  top: 21%;
  left: 242px;
  transform: translateY(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 200px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.popup ul {
  list-style-type: none;
  padding: 0;
}

.popup ul li {
  cursor: pointer;
  padding: 5px 10px;
}

.popup ul li:hover {
  background-color: #f0f0f0;
}
.dropbtn{
  margin-top: 10px;
}
.dropdown-content li:hover{
  background-color: #ccc;
}