*{
    margin: 0;
    padding: 0;
}
.header{
background-color: darkolivegreen;
padding: 30px;
}
.container{
    display: flex;
    justify-content:space-between;
    
}
.listdo
{
   font-size: 24px;
   color: white;
   text-decoration: none;
}
.wrapper-info
{
   display: flex;
   gap: 50px;
   font-size: 24px;
   color: white;
}

  html,
  body {
    height: 100%;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex: 0 0 auto;
  }
    
